{% extends "quiz/base.html" %}

{% block content %}

<form action="{% url 'vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h3>{{ question.question_text }}</h3></legend>
    {% if prev_choice %}
    <p>Je hebt al gestemt op <b>{{prev_choice.choice.choice_text}}</b>. Stem opnieuw om aan te passen.</p>
    {% endif %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in choices %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>

{% endblock content %}

{% block scripting %}
<script>
// Store the question id in a variable
let q_id = {{question.id}};

// function that polls the server every 5 seconds and reloads page if a new question is active
function refresh() {
    // load latest question id
    $.get("{% url 'current_active_question' %}", function(data){

        // check if still up to date
        if (data != q_id){
            // if not up to date, reload page
            window.location.reload()
      }
    });
    // wait 5 seconds
    setTimeout(refresh, 5000);
}

// initial call, or just call refresh directly
setTimeout(refresh, 5000);
</script>

{% endblock scripting %}